.main{
    background-image: url(../materials/images/Servisec-singl/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 657px;
    position: relative; 
}
.hero-services{
        top: 55%;
}
